@import "mixins.scss";

%mp0{
    margin: 0;
    padding: 0;
}
.bg-transparent{
    background-color: transparent !important;
}
@each $name,$style in (night,$night),(fire,$fire),(silver,$silver),(sky,$sky),(day,$day){
    .bg-#{$name}{
        background-color: $style;
    }
    .text-#{$name}{
        @include text-reversation($style,true);
    }
    .text-#{$name}-reverse{
        @include text-reversation($style,false);
    }
}