@import "mixins.scss";

%mp0{
    margin: 0;
    padding: 0;
}
.button{
    border-radius: $radius;
    text-align: center;
    padding: $smallSize;
}

.disabled{
    opacity: 0.5;
    cursor: default;
    &:hover{
        color:  inherit !important;
        background-color: inherit !important;
    }
}

@each $name,$style in (night,$night),(fire,$fire),(silver,$silver),(sky,$sky),(day,$day){
    .bg-#{$name}{
        background-color: $style;
    }
    .text-#{$name}{
        @include text-reversation($style,true);
    }
    .text-#{$name}-reverse{
        @include text-reversation($style,false);
    }
    .button-#{$name}{
        @extend .button;
        @extend .bg-#{$name};
        @include button-reversation($style,true);
    }
    .button-#{$name}-reverse{
        @extend .button;
        @extend .bg-#{$name};
        @include button-reversation($style,false);
    }
}