//COLORS
$night:#2a2a2a;
$fire:#e0382d;
$silver:#e2e2e2;
$sky:#09afe3;
$day:#fff;


//FONTS
$font:"arial";
$normalSize:16px;
$smallSize:$normalSize/1.5;
$xSmallSize:$smallSize/1.5;
$largeSize:$normalSize*1.5;
$xLargeSize:$largeSize*1.5;
$weight:300;


//borders
$radius:4px;


//animate
$transition:0.3s;